.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;    
    gap: 20px;
    padding: 20px;
    background-color: #F6CE77;;
}

.container h1 {
    margin-bottom: 20px;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.item-ilc {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    width: 30%;
    box-sizing: border-box; 
    align-self: stretch; 
}

.text-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 20px;
    flex-grow: 1; 
    justify-content: space-between; 
    height: 100%; 
}



.item .precio {
    margin: 5px 0;
    font-size: 1.3rem;
}

.ver-mas {
    background-color: yellow;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: auto; 
    border-color: black;
    border-width: 2px;
}

.ver-mas:hover {
    background-color: #af9303;
    color:black;
    transition: 0.5s;
}

h4 {
    margin: 5px 0;
    font-weight: bold;
    font-size: 30px;
    background-color: #F2CB05 ;
}

.imagen {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-left: 20px;
    
}